<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0 auto;
  background-color: powderblue;
  padding: 0 20px 20px 20px;
}h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}
input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
th {
	color: green;
	text-align: center;
}
</style>
</head>
<body>
<center>
<table>
	<tr>
		<th><form action="/ingresarEmpresa">
			    <input type="submit" value="Agregar empresa" />
			</form>
		</th>
		<th><form action="/ingresarEmpleado">
			    <input type="submit" value="Agregar empleado" />
			</form>
		</th>
		<th><form action="/ingresarAccionista">
			    <input type="submit" value="Agregar accionista" />
			</form>
		</th>
		<th><form action="/listarEmpresas">
			    <input type="submit" value="Ver empresas" />
			</form>
		</th>
	</tr>
	<tr>
		<th><form action="/listarEmpleados">
			    <input type="submit" value="Ver empleados" />
			</form>
		</th>
		<th><form action="/listarAccionistas">
			    <input type="submit" value="Ver accionistas" />
			</form>
		</th>
		<th><form action="/modificarSueldo">
			    <input type="submit" value="Cambiar sueldo" />
			</form>
		</th>
	</tr>
	<tr>
		<th><form action="/modificarSuperior">
			    <input type="submit" value="Cambiar superior" />
			</form>
		</th>
		<th><form action="/eliminarEmpleado">
			    <input type="submit" value="Eliminar empleado" />
			</form>
		</th>
		<th><form action="/modificarAccionista">
			    <input type="submit" value="Cambiar nro de acciones" />
			</form>
		</th>
		<th><form action="/eliminarAccionista">
			    <input type="submit" value="Eliminar accionista" />
			</form>
		</th>
	</tr>
</table>
</center><table>
</table>

</body>
</html>