<head>
<style>
p {
	color: black;
    font-family: calibri;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
</style>
</head>
<h1>Sign In</h1>
    <form action="/ingresarEmpresa" method="post" name="login">
    	<table>
            <tr>
    			<th><center><p aling = "center">abreviatura de la empresa</p></center></th>
    			<th><input type="text" value="" id="nombre" name="nombre"></p>
    			</th>
    		</tr>
    		<tr>
    			<th><center><p aling = "center">nombre</p></center></th>
    			<th><input type="text" value="" id="nombre" name="nombre"></p>
    			</th>
    		</tr>
			<tr>
    			<th><center><p aling = "center">profesion</p></center></th>
    			<th><input type="text" value="" id="profesion" name="profesion"></p>
    			</th>
    		</tr>
			<tr>
    			<th><center><p aling = "center">superior</p></center></th>
    			<th><input type="text" value="" id="superior" name="superior"></p>
    			</th>
    		</tr>
            <tr>
    			<th><center><p aling = "center">sueldo</p></center></th>
    			<th><input type="text" value="" id="sueldo" name="sueldo"></p>
    			</th>
    		</tr>
    	</table>
        <input type="submit" value="Sign In">
		<table>
			<tr>
				<th>
					<form action="/principal">
						<input type="submit" value="volver" />
					</form>
				</th>
			</tr>
		</table>

    </form>