<head>
    <meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
<style>
p {
	color: black;
    font-family: calibri;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
</style>
</head>
<h1>Ingreso</h1>
    <form action="/ingreso" method="post" name="login">
    	<table>
    		<tr>
    			<th><center><p aling = "center">usuario</p></center></th>
    			<th><input type="text" value="" id="nicknameUsuario" name="nicknameUsuario"></p>
    			</th>
    		</tr>
			<tr>
    			<th><center><p aling = "center">contraseña</p></center></th>
    			<th><input type="password" value="" id="password" name="password"></p>
    			</th>
    		</tr>
    	</table>
        <input type="submit" value="Sign In"></p>
    </form>
<form action="/principal">
	<input type="submit" value="volver">
</form>