<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0 auto;
  background-color: powderblue;
  padding: 0 20px 20px 20px;
}h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}
input {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
th {
	color: green;
	text-align: center;
}
</style>
</head>
<body>
<table>
	<tr>
		<th><form action="/ingresar">
			<input type="submit" value="Ingresar" />
		</form>
		</th>
		<th><form action="/registrarse">
			<input type="submit" value="Registarse" />
		</form>
		</th>
	</tr>
</table>
<center>
<table>
	<tr>
		<th><form action="/finanzasMenu">
			    <input type="submit" value="Finanzas" />
			</form>
		</th>
		<th><form action="/empresasMenu">
			    <input type="submit" value="Empresas" />
			</form>
		</th>
		<th><form action="/comprasMenu">
			    <input type="submit" value="Compras" />
			</form>
		</th>
		<th><form action="/materialesMenu">
			    <input type="submit" value="Materiales" />
			</form>
		</th>
		<th><form action="/productosMenu">
			    <input type="submit" value="Productos" />
			</form>
		</th>
		<th><form action="/pedidosMenu">
			    <input type="submit" value="Pedidos" />
			</form>
		</th>
	</tr>
</table>
</center><table>
<tr>
	<th><pre>           </pre></th>
	<th><img src="logo.jpg" alt="Imagen Logo" style="width:300px;height:120px;"></th>
</tr>
</table>



</body>
</html>